{% extends 'base.html.twig' %}

{% block content %}
    <div class="row" style="height: 100%">
        <div class="container">
            {% include 'security/_login_form.html.twig' %}
        </div>
    </div>
{% endblock content %}
