/* This is needed for some mobile phones to display the Google Icon font properly */
.material-icons {
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';

    // Click Event from the icon does not have path for Ajax Requests
    // But label in Search form has no reaction on click event
    &:not(.search) { pointer-events: none; }
}


.avatar-icon {
    &.small {
        width: 50px;
        border-radius: 50%;
    }
}
