/**
 * ==========================================================================
 *  -- Media --
 * ==========================================================================
 *
 * Table of Contents:
 *
 *  Images
 */

/**
 * Images
 * ========================================================================== */

img.responsive-img {
    max-width: 100%;
    height: auto;
}

.themes-preview {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
