.message-box {
    border-radius: $message-box-radius;
    padding: 5px;

    &.error {
        background-color: $error-color-light;
    }

    &.success {
        background-color: $success-color-light;
    }
}
