<li>
    <form method="post" action="">
        <div class="input-field search-field teal lighten-5">
            <input type="search" aria-label="Search" name="search-input" required>
            <label class="label-icon" for="search">
                <i class="material-icons search">search</i>
            </label>

            <i class="material-icons search">close</i>
        </div>
    </form>
</li>
