{% extends 'base.html.twig' %}

{% block content %}
    <thead>
        <tr>
            {{ include('user/_table-headers.html.twig') }}

            <th scope="col" class="center-align">{{ 'Actions'|trans }}</th>
        </tr>
    </thead>

    <div class="row">
        {% include confirm_part %}
    </div>
{% endblock content %}
