{% extends 'base.html.twig' %}

{% block content %}
    {% set form_part = part %}

    <div class="row">
        <div class="col s12">
            {% include form_part %}
        </div>
    </div>
{% endblock content %}
