{% extends ['base.html.twig', '_menu.html.twig'] %}

{% block title %}{{ title|trans }}{% endblock title %}

{% block content %}
    {% include('_flash-messages.html.twig') %}

    <div class="row">
        {% include list_part %}
    </div>
{% endblock content %}
